.card.w-25.text-center
    %img.card-img-top{ alt: '...', src: @rep.photo }/
    .card-body
        %h5.card-title= @rep.name
        %p.card-text= @rep.title
    %ul.list-group.list-group-flush
        %li.list-group-item= @rep.party
        %li.list-group-item #{@rep.street}, #{@rep.city} #{@rep.state}, #{@rep.zip}
        %li.list-group-item Open Civic Data ID: #{@rep.ocdid}
